<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDidyfgV-BY4VOd0OHKt32P2b_Wu6uR6wE</string>
	<key>GCM_SENDER_ID</key>
	<string>867910778768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comAppscraftGameboy</string>
	<key>PROJECT_ID</key>
	<string>com-appscraft-gameboy</string>
	<key>STORAGE_BUCKET</key>
	<string>com-appscraft-gameboy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867910778768:ios:41b650c71f9a3a50f8bd15</string>
</dict>
</plist>